@keyframes appearHeading {
  from {
    opacity: 0;
    filter: blur(7px);
    scale: 0.7;
  }
  to {
    opacity: 1;
    filter: blur(0);
    scale: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideLeft {
  @media (max-width: 480px) {
    from {
      opacity: 0;
      filter: blur(7px);
    }
    to {
      opacity: 1;
      filter: blur(0);
    }
  }
  from {
    transform: translateX(-10%);
    opacity: 0;
    filter: blur(7px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes slideRight {
  @media (max-width: 480px) {
    from {
      opacity: 0;
      filter: blur(7px);
    }
    to {
      opacity: 1;
      filter: blur(0);
    }
  }
  from {
    transform: translateX(10%);
    opacity: 0;
    filter: blur(7px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(10px);
  isolation: isolate;
  transition: background-color 0.4s ease;
}
.header.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 800px) {
  .header {
    padding: 20px 30px;
  }
}

#navLogo {
  font-size: 24px;
  color: #F4F4F6;
  font-weight: bold;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.navbar a {
  font-size: 18px;
  color: #F4F4F6;
  text-decoration: none;
  margin-left: 30px;
  position: relative;
  overflow: hidden;
}
.navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #F4F4F6;
  transition: width 0.3s ease;
}
.navbar a:hover::after {
  width: 100%;
}
.navbar a:active::after {
  background: #279AF1;
}
@media (max-width: 800px) {
  .navbar {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px 20px 40px;
    transition: left 0.6s ease;
  }
  .navbar.active {
    left: 0;
    backdrop-filter: blur(10px);
  }
  .navbar a {
    margin: 10px 0;
    font-size: 36px;
  }
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: #F4F4F6;
}
@media (max-width: 800px) {
  .menu-icon {
    display: block;
  }
}

#Landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #00171F;
}

.landContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.HlavniNadpis {
  animation: appearHeading 1s ease-out;
  font-size: 108px;
  color: #279AF1;
}
@media (max-width: 768px) {
  .HlavniNadpis {
    font-size: 72px;
  }
}
@media (max-width: 480px) {
  .HlavniNadpis {
    font-size: 54px;
  }
}
@media (max-width: 315px) {
  .HlavniNadpis {
    font-size: 44px;
  }
}

.HlavniPodnadpis {
  font-size: 21px;
  opacity: 0;
  color: #F4F4F6;
  animation: fadeIn 1.2s ease-out forwards;
  animation-delay: 1s;
}
@media (max-width: 768px) {
  .HlavniPodnadpis {
    font-size: 19px;
  }
}
@media (max-width: 480px) {
  .HlavniPodnadpis {
    font-size: 18px;
  }
}
@media (max-width: 315px) {
  .HlavniPodnadpis {
    font-size: 17px;
  }
}

.landBtns {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

#btnMinor, #btnMajor {
  font-size: 16px;
  height: 50px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  border: solid 1px #279AF1;
  border-radius: 5px;
  transition: scale 0.4s ease, rotate 0.1s ease;
  cursor: pointer;
}
#btnMinor:hover, #btnMajor:hover {
  scale: 1.1;
  rotate: -1.5deg;
}

#btnMajor {
  color: #F4F4F6;
  background-color: #279AF1;
}

#btnMinor {
  color: #F4F4F6;
  background-color: transparent;
}

#aboutme, #followme {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 480px;
}
@media (max-width: 1024px) {
  #aboutme, #followme {
    flex-direction: column;
    height: auto;
  }
}

.part13 {
  width: 30%;
  height: 100%;
  background-color: #279AF1;
}
@media (max-width: 1024px) {
  .part13 {
    display: none;
  }
}

.part23 {
  width: 70%;
  height: 100%;
  background-color: #00171F;
}
@media (max-width: 1024px) {
  .part23 {
    width: 100%;
    height: auto;
  }
}

.aboutblock, .flwblock {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .aboutblock, .flwblock {
    padding: 20px;
  }
}
@media (max-width: 480px) {
  .aboutblock, .flwblock {
    padding: 10px;
  }
}

.flwblock {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .flwblock {
    padding: 20px;
  }
}
@media (max-width: 480px) {
  .flwblock {
    padding: 10px;
  }
}

.aboutnadpis, .flwnadpis {
  font-size: 72px;
  color: #F4F4F6;
  margin-bottom: 10px;
  animation: slideLeft ease-in-out 1s both;
  animation-timeline: view();
  animation-range: contain 7% contain 35%;
}
@media (max-width: 768px) {
  .aboutnadpis, .flwnadpis {
    font-size: 56px;
  }
}
@media (max-width: 480px) {
  .aboutnadpis, .flwnadpis {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .aboutnadpis, .flwnadpis {
    font-size: 32px;
  }
}

.flwnadpis {
  animation: slideRight ease-in-out 1s both;
  animation-timeline: view();
  animation-range: contain 7% contain 30%;
}

.aboutpodnadpis, .flwpodnadpis {
  font-size: 23px;
  color: #279AF1;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .aboutpodnadpis, .flwpodnadpis {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .aboutpodnadpis, .flwpodnadpis {
    font-size: 16px;
  }
}

.abouttext {
  font-size: 20px;
  color: #F4F4F6;
}
@media (max-width: 768px) {
  .abouttext {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .abouttext {
    font-size: 14px;
  }
}

.flwicons {
  padding: 0 50px 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .flwicons {
    justify-content: center;
    padding: 30px;
  }
}
@media (max-width: 480px) {
  .flwicons {
    flex-wrap: wrap;
  }
}

.fa-brands1 {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  background: #F4F4F6;
  color: black;
  border-radius: 50%;
  margin-left: 15px;
  transition: border-radius 0.4s ease;
}
.fa-brands1:hover {
  border-radius: 25%;
}
.fa-brands1:active {
  border-radius: 0;
}
@media (max-width: 768px) {
  .fa-brands1 {
    width: 60px;
    padding: 15px;
  }
}

#BioPage {
  width: 100%;
  min-height: 100vh;
  background-color: #00171F;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15vh;
}

#BioWindow {
  width: 520px;
  min-height: 65vh;
  background-color: #F4F4F6;
  border-radius: 25px;
  padding: 15px;
  margin: 0 25px;
  box-shadow: 0 0 10px 2px rgba(227, 227, 230, 0.5);
}

.bioitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 15px;
  min-height: 70px;
  border-radius: 10px;
  background-color: #279AF1;
  text-decoration: none;
  transition: scale 0.4s ease;
}
.bioitem:last-of-type {
  margin-bottom: 0;
}
.bioitem:hover {
  scale: 1.03;
}
.bioitem:active {
  border-radius: 5px;
}
.bioitem p {
  color: #F4F4F6;
  font-size: 24px;
  text-align: right;
}

.fa-brands2 {
  font-size: 38px;
  color: #F4F4F6;
}

#projektyPage {
  width: 100%;
  min-height: 100vh;
  background-color: #00171F;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#projektyNadpis {
  color: #F4F4F6;
  margin-top: 130px;
  text-align: center;
  animation: appearHeading 1s ease-out;
}
#projektyNadpis h2 {
  font-size: 42px;
  margin-bottom: 12px;
}
#projektyNadpis p {
  font-size: 16px;
}

#projektyKarty {
  margin-top: 40px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.projektyKarta {
  width: 375px;
  background-color: #F4F4F6;
  border-radius: 10px;
  padding: 15px;
}
.projektyKarta img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.projektyKarta h3 {
  font-size: 20px;
  margin: 15px 0 10px;
}
.projektyKarta p {
  font-size: 14px;
  color: #676767;
  margin-bottom: 15px;
}
.projektyKarta a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #279AF1;
  color: #F4F4F6;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  border-radius: 7px;
  font-size: 16px;
}
.projektyKarta a i {
  margin-right: 5px;
}
.projektyKarta a:hover {
  scale: 1.03;
  transition: scale 0.5s ease;
}
.projektyKarta:hover {
  box-shadow: 0 0 17px 0 rgba(244, 244, 246, 0.6);
  transition: box-shadow 0.3s ease;
}

.footer {
  width: 100%;
  background-color: #001015;
  padding: 15px 0;
}

.footertext {
  color: #F4F4F6;
  text-align: center;
  font-size: 17px;
}
@media (max-width: 768px) {
  .footertext {
    font-size: 15px;
  }
}
.footertext i {
  color: red;
}

/*# sourceMappingURL=mainStyles.css.map */
